$color-default: #1976D2;

.directive-button {
    display: inline-block;

    .btn {
        height: 34px;
        width: 254px;
        background: $color-default;
        display: inline-block;
        border-radius: 2px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;

        span {
            line-height: 34px;
        }
        
        &:active {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }
}