.directive-input {
    .text {
        line-height: 32px;
        height: 34px;
        width: 254px;
        padding: 0 12px;
        border: 1px solid #ddd;
        box-sizing: border-box;
        font-size: 14px;
        color: #333;
    }
}