.directive-select {
    display: inline-block;
    position: relative;

    .input-wrapper {
        cursor: default;
        white-space: nowrap;

        .text {
            line-height: 32px;
            height: 34px;
            border: 1px solid #ddd;
            padding: 0 12px;
            width: 220px;
            box-sizing: border-box;
            font-size: 14px;
            color: #333;
        }

        .arrow {
            height: 34px;
            width: 34px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-left: none;
            display: inline-block;
            vertical-align: top;
            text-align: center;

            span {
                color: #333;
                line-height: 32px;
                
                &.reverse {
                    transform: rotate(180deg);
                }
            }
        }
    }
    
    .proposals {
        z-index: 1;
        position: absolute;
        top: 33px;
        left: 0;
        border: 1px solid #ddd;
        border-top: none;
        background: #fff;
        width: 220px;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                padding: 0 12px;
                line-height: 32px;
                border-top: 1px solid #f2f2f2;
                cursor: pointer;

                span {
                    font-size: 14px;
                }

                &:hover {
                    background: #fafafa;
                }
            }
        }

        .nothing {
            padding: 0 12px;
            line-height: 32px;
            font-weight: bold;
            font-size: 12px;
            cursor: default;
        }
    }
}